<div class="survey-container">
  <!-- Titolo del sondaggio -->
  <h1 class="survey-title">Sondaggio sulla Tecnologia</h1>

  <!-- Prima domanda -->
  <div class="survey-question">
    <p>1. Quale linguaggio di programmazione preferisci?</p>
    <div class="survey-option">
      <input type="radio" id="javascript" name="language" value="JavaScript">
      <label for="javascript">JavaScript</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="python" name="language" value="Python">
      <label for="python">Python</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="java" name="language" value="Java">
      <label for="java">Java</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="csharp" name="language" value="C#">
      <label for="csharp">C#</label>
    </div>
  </div>

  <!-- Seconda domanda -->
  <div class="survey-question">
    <p>2. Quanto tempo dedichi alla programmazione ogni giorno?</p>
    <div class="survey-option">
      <input type="radio" id="less1hour" name="time" value="Less than 1 hour">
      <label for="less1hour">Meno di 1 ora</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="1to3hours" name="time" value="1-3 hours">
      <label for="1to3hours">1-3 ore</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="3to5hours" name="time" value="3-5 hours">
      <label for="3to5hours">3-5 ore</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="more5hours" name="time" value="More than 5 hours">
      <label for="more5hours">Più di 5 ore</label>
    </div>
  </div>

  <!-- Terza domanda -->
  <div class="survey-question">
    <p>3. Quale framework frontend preferisci?</p>
    <div class="survey-option">
      <input type="radio" id="angular" name="framework" value="Angular">
      <label for="angular">Angular</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="react" name="framework" value="React">
      <label for="react">React</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="vue" name="framework" value="Vue">
      <label for="vue">Vue</label>
    </div>
    <div class="survey-option">
      <input type="radio" id="svelte" name="framework" value="Svelte">
      <label for="svelte">Svelte</label>
    </div>
  </div>

